*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
:root {
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

/* .bg {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 10px dashed rgba(7, 237, 11, 0.923);
  color: #ffffff; */
/* background-image: url(https://picsum.photos/id/237/200/300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
/* background: url(https://picsum.photos/id/237/200/300) no-repeat center/contain; */
/* } */

/* .savanna {
  height: 800px;
  background-image: url(../img/elephant.png), url(../img/lion.png),
    url(../img/giraffe.png), url(../img/hepard.png),
    url(../img/savanna-derevo-solnce-zakat.jpg);
  background-repeat: no-repeat;
  background-position: bottom left, bottom 20px left 1000px,
    bottom 20px left 500px, bottom 20px right, center bottom;
  background-size: auto, 300px, 500px, auto, cover;
} */

.container {
  width: 600px;
  margin: 0 auto;
}

/* .linear,
.radial {
  height: 200px;
}

.linear {
  background-image: linear-gradient(blue 100px, yellow 100px);
}

.radial {
  background-image: radial-gradient(
    circle at bottom,
    transparent 20%,
    blue 20%
  );
} */

/* .box1 {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: rgb(83, 255, 71);
  margin: 0px auto;
  box-shadow: 0px 0px 0px 10px teal;
} */

.box {
  width: 400px;
  height: 400px;
  background-color: tomato;
  margin: 50px auto 0;
  text-shadow: 1500px 0 0 black, -1500px 0 0 black;
  box-shadow: 1500px 0px 0px 0px tomato, -1500px 0px 0px 0px tomato;
  transition-duration: 800ms;
}

.box:hover {
  text-shadow: 0px 0 0 black;
  box-shadow: 0px 0px 0px 0px tomato;
}

/* .btn {
    width: 200px;
    height: 50px;
    background-color: crimson;
    border: none;
    cursor: pointer;
   
}
.btn:active {
    box-shadow: inset 2px 2px 5px 2px rgba(47, 48, 58, 0.6);
}  */
